.header1{
    width: 100%;
    position: sticky;
    line-height: 3rem;
    background-color: var(--dark-gray);
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
ul li a:hover{
    color: var(--main-color);
}
ul li a{
    text-decoration: none;
    color: var(--main-color) !important;
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
ul li.cart a i{
    font-size: 19px !important;
}
ul li.logo a{
    background-size: 18px 42px;
    vertical-align: middle;
    padding: 9px;
    background-repeat: no-repeat;
    background-image: url(../Asstes/Apple\ logo.svg);
    background-position: center;
}
.mobileview{
    display: none;
    text-align: center;
}
ul li.cart a{
    background-size: 18px 42px;
    vertical-align: middle;
    padding: 9px;
    background: url(../Asstes/cart.svg) no-repeat;
    background-position: center;
}
.navmenu{
    display: none;
}
.desktop-view li{
    text-align: center;
}
.mobileview li{
    line-height: 25px;
}
ul{
    padding: 0 !important;
}

/* header2 begin */
.header2{
    text-align: center;
    background-color: #f5f5f7;
    padding: 15px;
    color: #3f3f3f;
    font-weight: 400;
    font-size: 14px;
}
.header2 span{
    color: blue;
    font-weight: 500;
}

/* section1, section2 and section3 begin */
.section1{
    width: 80%;
    height: 100vh;
    margin: 10px auto;
    padding: 25px 0;
    text-align: center;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url(https://raw.githubusercontent.com/harshalgami13/IMAGE/main/Stock%20Images/iphone12pro.1.1.png);
}
.section1 .heading,
.section2 .heading,
.section3 .heading{
    font-size: 56px;
    font-weight: 600;
}
.section1 .heading2,
.section2 .heading2,
.section3 .heading2{
    font-size: 30px;
    font-weight: 400;
}
.section1 .price,
.section2 .price,
.section3 .price{
    font-weight: 400;
    font-size: 18px;
    color: #a0a0a0;
    padding: 8px 0;
}
.section1 .link span a,
.section2 .link span a,
.section3 .link span a{
    font-size: 22px;
    padding: 0 20px;
    text-decoration: none;
}
.section2{
    width: 84%;
    height: 100vh;
    margin: 10px auto;
    padding: 25px 0;
    text-align: center;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url(https://raw.githubusercontent.com/harshalgami13/IMAGE/main/Stock%20Images/iphone12pro.2.1.png);
}
.section2 .heading,
.section3 .heading,
.section2 .heading2,
.section3 .heading2{
    color: white;
}
.section3{
    width: 84%;
    height: 100vh;
    margin: 10px auto;
    padding: 25px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url(https://raw.githubusercontent.com/harshalgami13/IMAGE/main/Stock%20Images/itab.1.1.png);
}
.row{
    margin: 0px !important;
}
/* section4, section5 and section6 begin */
.section4 .left-side,
.section4 .right-side,
.section5 .left-side,
.section5 .right-side,
.section6 .left-side,
.section6 .right-side{
    width: 100%;
    height: 580px;
    margin: 10px auto !important;
    padding: 25px 0;
    display: block;
    text-align: center;
    background-size: cover;
    background-position: center;
}
.section4 .heading,
.section5 .heading,
.section6 .heading{
    text-align: center;
    font-weight: 600;
    line-height: 3.15rem;
    font-size: 40px;
    width: 70%;
    margin: 5px auto;
}
.section4 .heading2,
.section5 .heading2,
.section6 .heading2{
    font-size: 22px;
    margin: 5px 0;
    padding: 0 25px;
    font-weight: 500;
}
.section4 img,
.section5 img,
.section6 img{
    margin: 17px auto;
    display: block;
    width: 8rem;
}
.section4 a,
.section5 a,
.section6 a{
    font-size: 18px;
    padding: 0 10px;
    text-decoration: none;
}



/* section4 begin */
.section4 .left-side{
    background-image: url(https://raw.githubusercontent.com/harshalgami13/IMAGE/main/Stock%20Images/apple.product.1.2.jpg);
}
.section4 .right-side{
    background-image: url(https://raw.githubusercontent.com/harshalgami13/IMAGE/main/Stock%20Images/watch.png);
}
.section4 .right-side .heading2{
    color: white;
    font-size: 22px;
}



/* section5 begin */
.section5 .left-side{
    background-image: url(https://raw.githubusercontent.com/harshalgami13/IMAGE/main/Stock%20Images/iMac.2.1.jpg);
}
.section5 .right-side{
    background-image: url(https://raw.githubusercontent.com/harshalgami13/IMAGE/main/Stock%20Images/air.tag.png);
}




/* section6 begin */
.section6 .left-side{
    background-image: url(https://raw.githubusercontent.com/harshalgami13/IMAGE/main/Stock%20Images/ad.png);
}
.section6 .left-side .heading2{
    margin: 10px auto;
    display: block;
    width: 60% !important;
    color: white;
    font-size: 20px;
}
.section6 .left-side a{
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.section6 .right-side .heading2,
.section6 .right-side a{
    color: white;
    position: relative;
    bottom: 0;
    z-index: 10000;
}
.section6 .right-side{
    background-image: url(https://raw.githubusercontent.com/harshalgami13/IMAGE/main/Stock%20Images/ad.1.png);
}
.section6 .right-side img{
    width: 4.5rem;
}

/* footer1 begin */
.footer1 {
    background-color: #f5f5f7;
    padding: 0 10rem !important;
}
.footer1 .section7{
    color: #86868b;
    border-bottom: 1px solid #d2d2d7;
    padding: 17px 0 11px;
    font-size: 12px;
    font-weight: 500;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer1 .section8{
    color: #515154;
    border-bottom: 1px solid #d2d2d7;
    padding: 17px 0 11px;
    font-size: 12px;
    font-weight: 500;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.footer1 .section8 .title-footer{
    font-weight: 600;
    color: #626264;
    margin-top: 15px;
}
.footer1 .section8 p{
    color: #86868b !important;
    margin-bottom: 0px;
    padding: 17px 0 1px;
    line-height: 12px;
}
.footer1 .section8 p a{
    color: #86868b !important;
    font-size: 12px !important;
    text-decoration: none;
    font-weight: 500;
    padding: 0px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer1 .section9{
    color: #86868b !important;
    border-bottom: 1px solid #d2d2d7;
    padding: 17px 0 11px;
    font-size: 12px !important;
    font-weight: 500;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.footer1 .section9 ul{
    justify-content: space-between;
}
.footer1 .section9 a{
    color: #86868b !important;
    font-size: 12px !important;
    font-weight: 500;
    padding: 0px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}











::selection{
    background-color: var(--dark-gray);
    color: #d3d3d3;
}
:root{
    --main-color: #b3b3b3;
    --dark-gray: #333;
}
body{
    scroll-behavior: smooth;
}